@font-face {
  font-family: "Proxima Nova";
  src: url("font/ProximaNova-Bold.ttf") format("truetype");
  src: url("font/ProximaNova-Regular.ttf") format("truetype");
}

body {
  font-family: "Proxima Nova";
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}

.menu,
.submenu {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
  list-style: none;
  margin-top: 10px;
}
.submenu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
  margin-left: 45px;
}
.header {
  padding: 0px 51px;
  display: flex;
  justify-content: space-between;
}
.header-body {
  padding: 0px 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navmenu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
  list-style: none;
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}
.navmenu__item a:hover {
  border-bottom: 3px solid #44c697;
}
.navmenu a,
.header__categories a {
  color: #1e2e36;
  font-weight: 700;
}
.header__categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 19px;
  list-style: none;
  font-style: normal;
  font-size: 18px;
}
.border {
  margin-bottom: 8px;
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 60px;
  opacity: 0.6;
  border: 1px solid #1e2e36;
}
.logo {
  align-items: flex-end;
  padding: 0px;
  margin-top: 15px;
}
.logo img {
  width: 360px;
}
.order {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.shoppingCart {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin-top: 10px;
  align-items: center;
}
.shoppingCart a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}
.shoppingCart span {
  margin-top: 4px;
}
.header__item img {
  margin-bottom: -6px;
}
.header__btn,
.bed__btn {
  padding: 14px 46px;
  background: #44c697;
  border-radius: 3px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
  cursor: pointer;
  transition: transform 500ms ease;
}
.header__btn:hover,
.bed__btn:hover,
.catalog__btn:hover,
.send__btn:hover {
  background: #5ccaa2;
}
.header__btn:active,
.bed__btn:active,
.catalog__btn:active,
.send__btn:active {
  background: #41af87;
  transform: translateY(2px);
}

/* dur menu */
.burger-menu {
  display: none;
}
@media screen and (max-width: 475px) {
  .burger-menu {
    display: block;
  }
}
.burger-menu__list {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: 1;
}
.burger-menu__link {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.burger-menu__btn {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #44c697;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}
.burger-menu__btn--active span {
  position: absolute;
}
.burger-menu__btn--active span:nth-child(1) {
  transform: rotate(45deg);
}
.burger-menu__btn--active span:nth-child(2) {
  opacity: 0;
}
.burger-menu__btn--active span:nth-child(3) {
  transform: rotate(-45deg);
}
/* при натиснені на кнопку застосування класу */
.burger-menu__btn--active + .burger-menu__list {
  transform: translateY(0);
}
.burger-menu__btn span {
  height: 2px;
  width: 80%;
  background-color: #000;
  transition: 0.5s;
}

/*  */
.bed {
  height: 785px;
  max-width: 1920px;
  background-image: url(img/1.jpg);
  margin-bottom: 100px;
}
.novelty {
  height: 670px;
  width: 462px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: 51px;
  border-left: 15px solid #44c697;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.novelty h1 {
  margin-top: 99px;
  height: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #1e2e36;
}
.novelty h3 {
  margin-top: 50px;
  height: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: #1e2e36;
}
.novelty-text {
  margin-top: 10px;
  margin-bottom: 27px;
  width: 313px;
  height: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
  color: #1e2e36;
}
.date {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date-text__day {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
  color: #1e2e36;
}
.date-text__month {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #1e2e36;
}
.date-icons {
  padding-top: 5px;
}
.date-icon {
  margin-right: 5px;
}
.date-icon:hover {
  fill: #1e2e36;
  scale: 0.95;
}
.date-icon:hover .date-icon__arrow {
  fill: #fff;
}
/*  */
.benefits {
  background: #44c697;
  margin: 0 auto;
  width: 20px;
  height: 50px;
}
.benefits h2 {
  white-space: nowrap;
  height: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #1e2e36;
}
.slader {
  margin-top: 52px;
  margin-bottom: 100px;
  padding: 0px 51px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.furniture,
.reliability,
.delivery {
  position: relative;
}
.furniture-icon {
  position: absolute;
  top: 40%;
  left: 15px;
  cursor: pointer;
}
.furniture-icon:hover,
.delivery-icon:hover {
  fill: #fff;
}

.furniture-icon:hover .furniture-icon__arrow,
.delivery-icon:hover .delivery-icon__arrow {
  fill: #1e2e36;
}
.furniture h3 {
  position: absolute;
  left: 30px;
  bottom: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: #fff;
  border-bottom: 3px solid #44c697;
}

.reliability h3 {
  position: absolute;
  left: 30px;
  bottom: 90px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  border-bottom: 3px solid #44c697;
}
.reliability p {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-align: left;
  color: #ffffff;
}
.delivery-icon {
  position: absolute;
  right: 15px;
  top: 40%;
  cursor: pointer;
}
.delivery h3 {
  position: absolute;
  left: 30px;
  bottom: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
  color: #ffffff;
}
.delivery span {
  border-bottom: 3px solid #44c697;
}
.goods,
.about,
.question {
  width: 20px;
  height: 50px;
  margin: 0px auto;
  background: #44c697;
}
.goods h2,
.about h2,
.question h2 {
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  white-space: nowrap;
  color: #1e2e36;
}
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
  padding: 0px 160px;
}
.categories-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-name div {
  max-width: 100px;
}
.categories-name svg path {
  fill: #1e2e36;
  transition: fill 0.5s stroke 0.5s;
}
.categories-item:hover .categories-title,
.categories-item:hover svg path {
  fill: #44c697;
  border-bottom: 3px solid #44c696;
}
.title-sofa {
  padding-top: 15px;
}
.title-chair {
  padding-top: 21px;
}
.title-commode {
  padding-top: 10px;
}
.title-kitchen {
  padding-top: 6px;
}
.categories-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #1e2e36;
  transition: fill 0.5s stroke 0.5s;
  border-bottom: 3px solid #44c69600;
}

.items {
  margin-top: 87px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 51px;
  gap: 30px;
}

.adeleAll:hover .adeleAbout span,
.empireAll:hover .empireAbout span,
.veniceAll:hover .veniseAbout span,
.chesterAll:hover .chesterAbout span,
.ramonaAll:hover .ramonaAbout span,
.atlantAll:hover .atlantAbout span {
  color: #fff;
}
.atlantAll,
.adeleAll,
.veniceAll,
.chesterAll,
.empireAll,
.ramonaAll {
  cursor: pointer;
  transition: transform 500ms ease;
}
.empireAll:hover,
.adeleAll:hover,
.atlantAll:hover,
.ramonaAll:hover,
.chesterAll:hover,
.veniceAll:hover {
  transform: translateY(-10px);
  background: #44c697;
}
.ramonaAbout,
.chesterAbout,
.veniseAbout,
.empireAbout,
.adeleAbout,
.atlantAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.ramona,
.chester,
.empire,
.atlant {
  position: relative;
}
.ramona h3,
.empire h3 {
  width: 119px;
  height: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding-top: 5px;
  line-height: 125%;
  color: #ffffff;
  position: absolute;
  left: 0px;
  top: 10px;
  text-align: center;
  background: #1e2e36;
}
.ramonaName,
.chesterName,
.veniceName,
.empireName,
.adeleName,
.atlantName {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: #1e2e36;
}
.ramonaPrice,
.venicePrice,
.empirePrice,
.adelePrice {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #1e2e36;
}
.chester h3,
.atlant h3 {
  position: absolute;
  left: 0px;
  top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  width: 143px;
  height: 33px;
  background: #1e2e36;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px 15px;
}
.chester p,
.atlant p {
  position: absolute;
  left: 0px;
  top: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px 15px;
  width: 84px;
  height: 33px;
  background: #ff1b1b;
}
.chesterPrice,
.atlantPrice {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #ff1b1b;
}
.oldPrice {
  margin-top: 5px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #bcbdbb;
}
.catalog__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
  display: block;
  margin: 0px auto;
  cursor: pointer;
  color: #ffffff;
  background: #44c697;
  border-radius: 3px;
  padding: 14px 46px;
  transition: transform 500ms ease;
}
.aboutAs {
  margin-top: 100px;
}

.aboutAs-item {
  margin-top: 50px;
  margin-bottom: 100px;
}

.aboutFoto {
  background-image: url(./img/Rectangle174.png);
  margin-left: 27%;
  max-width: 1407px;
  height: 675px;
}
.articles {
  position: absolute;
  margin-top: 100px;
  left: 0px;
  background-color: #fff;
  max-width: 791px;
  max-height: 475px;
  border-right: 15px solid #44c697;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 30px 50px 50px;
}

.article,
.articleTwo,
.acticleThree {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-align: left;
  color: #1e2e36;
}
.article span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
  color: #44c697;
}
.questionAbout {
  position: relative;
}
.questionFoto {
  margin-top: 50px;
  margin-left: 0px;
  max-width: 1561px;
  height: 675px;
  background: url(/img/Rectangle175.png);
  border-radius: 0px 3px 3px 0px;
}
.questionForm {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 513px;
  height: 457px;
  background: #ffffff;
  border-radius: 0px;
  border-left: 15px solid #44c697;
  border-radius: 3px 0px 0px 3px;
  padding: 50px 51px 50px 30px;
}
.questionForm h3 {
  white-space: nowrap;
  height: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1e2e36;
  margin-bottom: 15px;
}
.name,
.phone {
  margin-top: 15px;
  width: 430px;
  height: 51px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #1e2e36;
  background: #ffffff;
  border: 1px solid #1e2e36;
  border-radius: 3px;
}
.send__btn {
  padding: 14px 160px;
  margin-top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #44c697;
  border-radius: 3px;
  border: none;
  transition: transform 500ms ease;
  cursor: pointer;
}
.infor {
  max-width: 395px;
  height: 69px;
  margin-top: 30px;
}
.info,
.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  align-items: center;
  color: #1e2e36;
}
.contact span {
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
}

/*  */
.futer {
  margin-top: 109px;
  display: flex;
  position: relative;
}
.futerInfo {
  padding: 0px 51px;
  width: 831px;
  height: 520px;
  background: #1e2e36;
  /* flex: 0 0 auto; */
}
.arrow-up {
  /* background: #1e2e36; */
  border: none;
}

.arrow-up img {
  position: absolute;
  left: 36px;
  top: -20px;
  width: 80px;
  height: 80px;
  padding: 0px;
}
.arrow-up img:hover {
  scale: 1.05;
}
.futerLogo {
  max-width: 360px;
  margin-top: 51px;
}

.futer-menu {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  gap: 20px;
}

.menu-categories__item:not(:first-child) {
  margin-top: 15px;
}
.futer-border {
  border-top: solid 3px #44c697;
  width: 4px;
}
.menu-about {
  margin-top: -3px;
}
.menu-about__item:not(:first-child) {
  margin-top: 15px;
}
.futerContacts {
  margin-top: -7px;
}
.futerContact {
  margin-top: 10px;
}

.networks ul {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.networks li {
  margin-right: 30px;
}
.networks {
  margin-top: 30px;
}
.networks span {
  width: 217px;
  height: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #ffffff;
  flex: none;
  white-space: nowrap;
}
.copyright {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyrightFurniture {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  align-items: center;
  color: #ffffff;
  white-space: nowrap;
  margin-right: 15px;
}
.copyrightLogo {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.copyrightLogo img {
  margin-right: 3px;
}

.futerFoto {
  width: 1089px;
  height: 520px;
  background: url(/img/Rectangle176.png);
}
/*  */
@media screen and (max-width: 1680px) {
  .reliability p {
    width: 356px;
    height: 46px;
    font-size: 15px;
  }
}
@media screen and (max-width: 1460px) {
  .logo img {
    width: 260px;
  }
  .menu,
  .submenu,
  .navmenu__item,
  .header__categories,
  .shoppingCart,
  .header__btn {
    font-size: 15px;
  }
  .header__categories,
  .order,
  .navmenu__item {
    gap: 7px;
  }
  .header__btn,
  .bed__btn,
  .catalog__btn {
    padding: 10px 15px;
    margin-top: 3px;
  }
  .novelty {
    height: 500px;
    width: 350px;
  }
  .novelty h1 {
    margin-top: 45px;
    font-size: 50px;
  }
  .novelty h3 {
    margin-top: 30px;
    font-size: 26px;
  }
  .reliability p {
    max-width: 256px;
  }
  .date {
    padding-top: 15px;
  }
  .delivery h3,
  .furniture h3,
  .reliability h3 {
    font-size: 26px;
  }
  .items {
    padding: 0px 20px;
    gap: 10px;
  }
  .ramonaAbout,
  .chesterAbout,
  .veniseAbout,
  .empireAbout,
  .adeleAbout,
  .atlantAbout {
    padding: 10px;
  }
  .ramonaName,
  .chesterName,
  .veniceName,
  .empireName,
  .adeleName,
  .atlantName,
  .ramonaPrice,
  .venicePrice,
  .empirePrice,
  .adelePrice,
  .chesterPrice,
  .atlantPrice {
    font-size: 18px;
  }
  .oldPrice {
    font-size: 15px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 1110px) {
  .header-body,
  .header,
  .slader {
    padding: 0px 20px;
  }
  .logo img {
    width: 160px;
  }
  .header__categories,
  .order,
  .navmenu__item,
  .menu,
  .submenu,
  .shoppingCart {
    gap: 3px;
  }
  .submenu__item {
    margin-left: 0px;
    gap: 0px;
  }
  .bed {
    margin-bottom: 20px;
  }
  .benefits,
  .goods,
  .aboutAs,
  .question {
    margin-left: 15%;
  }
  .delivery h3,
  .furniture h3,
  .reliability h3 {
    font-size: 20px;
  }
  .aboutAs {
    margin-top: 20px;
  }
  .slader {
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 15px;
  }
  .categories {
    margin-top: 20px;
    padding: 0 60px;
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .aboutFoto {
    margin-left: 0px;
  }
  .questionForm {
    max-width: 400px;
    padding: 30px;
  }
  .questionForm h3 {
    font-size: 28px;
    margin-bottom: 0px;
  }
  .name,
  .phone,
  .send__btn,
  .info,
  .contact,
  .contact span {
    font-size: 15px;
  }
  .info,
  .contact {
    max-width: 291px;
  }
  .send__btn {
    padding: 14px 100px;
  }
  .name,
  .phone,
  .infor {
    max-width: 291px;
  }
  .networks {
    display: none;
  }
}
@media screen and (max-width: 930px) {
  .header,
  .header-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 10px;
  }
  .novelty {
    margin-left: 31px;
    height: 400px;
    width: 300px;
  }
  .novelty h1 {
    margin-top: 20px;
  }
  .novelty h3 {
    margin-top: 15px;
  }
  .novelty p {
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .date {
    padding: 15px 0px;
  }
  .delivery h3,
  .furniture h3,
  .reliability h3 {
    font-size: 18px;
    left: 5px;
  }
  .reliability p {
    max-width: 216px;
    left: 5px;
  }
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .benefits h2,
  .goods h2,
  .about h2,
  .question h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 704px) {
  .slader {
    margin-top: 15px auto 0px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
  }
  .reliability p {
    max-width: 336px;
  }
  .furniture,
  .reliability,
  .delivery {
    margin: 0 auto;
  }
  .benefits,
  .goods,
  .about,
  .question {
    margin-left: 5%;
  }
  .novelty p {
    max-width: 255px;
  }
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .items {
    display: grid;
    grid-template-columns: 1fr;
  }
  .ramona img,
  .chester img,
  .venice img,
  .empire img,
  .adele img,
  .atlant img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .articles {
    padding: 10px;
    gap: 5px;
  }
  .article,
  .articleTwo,
  .acticleThree,
  .article span {
    font-size: 15px;
    line-height: 100%;
  }
  .futerContacts {
    display: none;
  }
  .futerFoto {
    display: none;
  }
  .futerInfo {
    padding: 0px 15px;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .slick-next,
  .slick-prev,
  element.style {
    display: none !important;
  }
}
@media screen and (max-width: 475px) {
  .logo img {
    width: 260px;
  }
  .header-body {
    display: flex;
    flex-direction: row;
  }
  .menu,
  .submenu,
  .subMenu,
  .navmenu,
  .header__categories,
  .border,
  .shoppingCart,
  .header__btn {
    display: none;
  }
  .novelty {
    max-width: 280px;
  }

  .benefits,
  .goods,
  .about,
  .question {
    width: 10px;
    height: 30px;
  }
  .benefits h2,
  .goods h2,
  .about h2,
  .question h2 {
    font-size: 26px;
  }
  .reliability p {
    max-width: 275px;
  }
  .categories {
    padding: 0 20px;
    grid-template-columns: 1fr 1fr;
  }
  .questionForm {
    max-width: 335px;
    max-height: 380px;
    padding: 10px;
  }
}
